:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.header {
  display: flex;
  gap: 65px;
  margin: 0 auto;
  margin-top: 50px;
  font-size: 24px;
  font-weight: 500;
  font-family: sans-serif;
  color: #6c8cff;
}

.header a:hover {
  color: #4e75ff;
}

.timer-picker {
  display: flex;
  gap: 23px;
  margin: 100px auto 10px;
}

#datetime-picker {
  width: 220px;
  height: 30px;
  border: 2px solid rgb(148, 148, 148);
  border-radius: 4px;
  margin: 0;
}

#datetime-picker + button {
  padding: 5px 16px;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  border-radius: 4px;
  border: 2px solid rgb(148, 148, 148);
  color: rgb(81, 78, 78);
}

.timer {
  display: flex;
  gap: 20px;
  margin: 0 auto;
}

.field span {
  display: block;
  font-family: Roboto, sans-serif;
  text-align: center;
}

.value {
  font-size: 50px;
  font-weight: 400;
  color: #242424;
}

.label {
  text-transform: uppercase;
}
